body {
    background-color: #f0f0f0;
}

#grid-area {
    margin-top: 7em;
    pointer-events: fill;
    cursor: default;
    white-space: nowrap;
}

.wee-div {
    width: 10px;
    height: 10px;
    border: solid 1px black;
    display: inline-block;
    background-color: white;
}

.wee-div:hover {
    background-color: black;
}

.grid-row {
    margin: -1px -2px 0 0;
    height: 10px;
}

.change-color {
    margin-top: 1em;
}

.header {
    background-color: #ededed;
    border-bottom: solid 1px #dfdfdf;
    color: #b5b5b5;
    font-family: sans-serif;
}

#user-options {
    border: solid 1px black;
    background-color: white;
}

#user-options  table{
    width: 100%;
}

#user-options td {
    border-left: solid 1px black;
    border-right: solid 1px black;
    padding: 0.5em 1em;
}

#scale-slider {
    max-width: 150px;
}
