body {
    background-color: #cecece;
    cursor: default;
}

.drawing-area { 
    text-align: center;
    margin-top: 7em;
}

#grid-area {
    pointer-events: fill;
    white-space: nowrap;
    display: inline-block;
    background-color: white;
    line-height: 0.5em;
}

.wee-div {
    width: 15px;
    height: 15px;
    border: solid 1px black;
    display: inline-block;
    background-color: transparent;
}

.grid-row {
    margin: -1px -2px 0 0;
    height: 15px;
}

.change-color {
    margin-top: 1em;
}

#user-options {
    background-color: #1a1a1a;
    color: white;
    width: 177px;
    height: 100%;
    z-index: 0;
}

#user-options button {
    color: white;
}

#user-options button:hover {
    color: #c5c5c5;
}

#user-options  table {
    width: 100%;
}

#user-options td {
    padding: 1em 2em;
}

#user-options label {
    font-weight: 100;
}

#user-options .btn {
    width: 80%;
}

#tools.subtable {
    width: auto !important;
}

#tools.subtable td {
    padding: 0;
}

.table-header {
    background-color: #121212;
    font-weight:  bold;
    padding: 1em 2em;
}

#palette tr {
    line-height: 0.5em;
    height: 15px;
}

#palette td {
    display: inline-block;
    height: 15px !important;
    width: 15px !important;
    padding: 0;
    margin: -1px;
    border: solid 1px black;
    background-color: #f8f8f8;
}

#palette td:hover {
    cursor: pointer;
}

#scale-slider {
    max-width: 150px;
}

.littler-glyph {
    font-size: 12px;
    margin-bottom: 0.5em;
}

.last-table {
    border-bottom: none !important;
    text-align: center;
}

.container-fluid {
    padding: 0;
}
