#grid-area {
    margin-top: 5em;
    pointer-events: fill;
    cursor: default;
}

.wee-div {
    width: 10px;
    height: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    display: inline-block;
    background-color: white;
}

.wee-div:hover {
    background-color: black;
}

.grid-row {
    margin: -1px -2px 0 0;
    height: 10px;
}

.change-color {
    margin-top: 1em;
}

.header {
    background-color: #ededed;
    border-bottom: solid 1px #dfdfdf;
    color: #b5b5b5;
    font-family: sans-serif;
}
